.app__home {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding: 0 4rem;
}
.app__home-content {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.app__home_info {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: flex-start;
}
.app__home_img {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.app__home_img img {
    width: 65%;
}
.h1__app-home {
    font-family: var(--font-base);
    font-size: 60px;
    font-weight: 800;
    line-height: 130%;
    color: var(--color-black);
}
.h1__app-home span {
    color: var(--color-blue);
}

@media screen and (min-width: 2000px) {
    .custom__button,.custom__button-2
    ,.p__manrope {
        font-size: 20px;
        line-height: 50px;
    }
    .h1__app-home {
        font-size: 150px;
        line-height: 210px;
    }
}
@media screen and (max-width: 1150px) {
    .app__home-content {
        flex-direction: column;
    }
    .h1__app-home {
        font-size: 40px;
    }
}
@media screen and (max-width: 850px) {
    .app__home {
        padding: 4rem;
    }
    .h1__app-home {
        font-size: 30px;
    }
}
@media screen and (max-width: 650px) {
    .app__home {
        padding: 4rem 2rem;
        align-items: center;
    }
}
@media screen and (max-width: 450px) {
    .app__home {
        align-items: center;
    }
    .h1__app-home {
        font-size: 24px;
        line-height: 180%;
    }
}